@{
    ViewData["Title"] = "Register Page";
}
<h1>Register Form</h1>
<div class="text-center">

<form action="/auth/confirm">
<label for="fname">Fname:</label><br>
  <input type="text" id="fname" name="fname"><br> 
  <label for="lname">Lname:</label><br>
  <input type="text" id="lname" name="lname"><br>    
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email"><br>
  <label for="pass">Password:</label><br>
  <input type="password" id="pass" name="pass"><br>
  <label for="cno">Number:</label><br>
  <input type="number" id="cno" name="cno"><br>

  <input type="submit" value="submit"></input>

</form>
    
</div>
